/cache-sdk-caffeine/build/
/cache-sdk-caffeine/target/
/cache-sdk-caffeine/bin/
/cache-sdk-caffeine/.gradle/
/cache-sdk-caffeine/.factorypath
/cache-sdk-caffeine/.springBeans
/cache-sdk-caffeine/.settings/
/cache-sdk-caffeine/.classpath
/cache-sdk-caffeine/.project

/cache-sdk-redis-springsupport/build/
/cache-sdk-redis-springsupport/target/
/cache-sdk-redis-springsupport/bin/
/cache-sdk-redis-springsupport/.gradle/
/cache-sdk-redis-springsupport/.factorypath
/cache-sdk-redis-springsupport/.springBeans
/cache-sdk-redis-springsupport/.settings/
/cache-sdk-redis-springsupport/.classpath
/cache-sdk-redis-springsupport/.project
