/utils/build/
/utils/target/
/utils/bin/
/utils/.gradle/
/utils/catalina.base_IS_UNDEFINED/
/utils/.settings/
/utils/.classpath
/utils/.project

/api/build/
/api/target/
/api/bin/
/api/.gradle/
/api/catalina.base_IS_UNDEFINED/
/api/.settings/
/api/.classpath
/api/.project

/dubbo/build/
/dubbo/target/
/dubbo/bin/
/dubbo/.gradle/
/dubbo/catalina.base_IS_UNDEFINED/
/dubbo/.settings/
/dubbo/.classpath
/dubbo/.project

/motan/build/
/motan/target/
/motan/bin/
/motan/.gradle/
/motan/catalina.base_IS_UNDEFINED/
/motan/.settings/
/motan/.classpath
/motan/.project

/quartz/build/
/quartz/target/
/quartz/bin/
/quartz/.gradle/
/quartz/catalina.base_IS_UNDEFINED/
/quartz/.settings/
/quartz/.classpath
/quartz/.project

/orm-mysql/build/
/orm-mysql/target/
/orm-mysql/bin/
/orm-mysql/.gradle/
/orm-mysql/catalina.base_IS_UNDEFINED/
/orm-mysql/.settings/
/orm-mysql/.classpath
/orm-mysql/.project

/orm-mysql-api-adapter/build/
/orm-mysql-api-adapter/target/
/orm-mysql-api-adapter/bin/
/orm-mysql-api-adapter/.gradle/
/orm-mysql-api-adapter/catalina.base_IS_UNDEFINED/
/orm-mysql-api-adapter/.settings/
/orm-mysql-api-adapter/.classpath
/orm-mysql-api-adapter/.project

/web/build/
/web/target/
/web/bin/
/web/.gradle/
/web/catalina.base_IS_UNDEFINED/
/web/.settings/
/web/.classpath
/web/.project

/mq/rocketmq/core/build/
/mq/rocketmq/core/target/
/mq/rocketmq/core/bin/
/mq/rocketmq/core/.gradle/
/mq/rocketmq/core/catalina.base_IS_UNDEFINED/
/mq/rocketmq/core/.settings/
/mq/rocketmq/core/.classpath
/mq/rocketmq/core/.project


