/app/build/
/app/target/
/app/bin/
/app/.gradle/
/app/.settings
/app/.factorypath
/app/.springBeans
/app/catalina.base_IS_UNDEFINED/
/app/.classpath
/app/.project
/app/files/

/api/build/
/api/target/
/api/bin/
/api/.gradle/
/api/.settings/
/api/.factorypath
/api/.springBeans
/api/.classpath
/api/.project
